@import '../styles/util.scss';

.select-option {
  padding: $padding-xsm $padding-sm;

  &:hover {
    background-color: $bg-hover;
  }

  &-sm {
    font-size: $font-sm;
  }

  &-lg {
    font-size: $font-base;
  }
}

:host * {
  box-sizing: border-box;
}

:host {
  cursor: pointer;
}
