@import '../styles/util.scss';

.select-group {
  display: flex;
  border-radius: $radius-md;
  border: 1px solid $border-default;
  background-color: $bg-body;
  align-items: center;
  padding-right: $padding-sm;

  input {
    flex-grow: 1;
    width: 0;
    outline: none;
    border: none;
    border-radius: $radius-md;
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
    min-height: 32px;
    padding: $padding-xsm $padding-sm;
    line-height: $line-md;
    font-size: $font-md;
    color: #060a26;
    -webkit-appearance: none;
    cursor: pointer;
  }

  &:hover {
    border: 1px solid $border-primary !important;
  }

  &:focus-visible {
    border: 1px solid $border-primary !important;
  }
}

.select-dropdown {
  position: fixed;
  z-index: 4;
  max-height: 200px;
  background: #ffffff;
  border: 1px solid $border-default;
  border-radius: $radius-md;
  overflow-y: auto;
  line-height: $line-md;
  font-size: $font-md;
}

.select-arrow {
  vertical-align: -0.15em;
  fill: $brand-default;
  overflow: hidden;
  flex-shrink: 0;
  width: $icon-sm;
  height: $icon-sm;
}

:host * {
  box-sizing: border-box;
}

:host([size='sm']) {
  .select-group input {
    min-height: 26px;
    padding: 0 $padding-sm;
    line-height: $line-sm;
    font-size: $font-sm;
  }
  .select-arrow {
    width: $icon-xsm;
    height: $icon-xsm;
  }
}

:host([size='lg']) {
  .select-group input {
    min-height: 40px;
    padding: $padding-xsm $padding-md;
    line-height: $line-base;
    font-size: $font-base;
  }
  .select-arrow {
    width: $icon-md;
    height: $icon-md;
  }
}
