.tui-btn-icon-left {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  fill: blue;
}
button {
  height: 32px;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  margin: 0;
  text-transform: none;
  color: #ffffff;
  border: 1px solid transparent;
}
button:hover {
  filter: brightness(105%);
}
:host([category='primary']) button {
  background-color: #068cff;
  border: 1px solid #068cff;
}
:host([category='success']) button {
  background-color: #22a765;
  border-color: #22a765;
}
:host([category='danger']) button {
  background-color: #dd4b4b;
  border-color: #dd4b4b;
}
:host([category='warning']) button {
  background-color: #ef8b16;
  border-color: #ef8b16;
}
:host([category='default']) button {
  background-color: #d3daed;
  border-color: #d3daed;
}
:host([outline]) button {
  background-color: transparent !important;
}
:host([outline][category='primary']) button {
  border-color: #068cff;
  color: #068cff;
}
:host([outline][category='success']) button {
  border-color: #22a765;
  color: #22a765;
}
:host([outline][category='danger']) button {
  border-color: #dd4b4b;
  color: #dd4b4b;
}
:host([outline][category='warning']) button {
  border-color: #ef8b16;
  color: #ef8b16;
}
:host([outline][category='default']) button {
  border-color: #d3daed;
  color: #292929;
}
:host([disabled]) button {
  background-color: #fafbfc;
  border-color: #fafbfc;
  color: #b6bdb1;
  cursor: not-allowed;
  box-shadow: none;
}
:host([loading]) button {
  background-color: #fafbfc;
  border-color: #fafbfc;
  color: #b6bdb1;
  cursor: not-allowed;
  box-shadow: none;
}
.button-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.ds-btn-ripple-circle-color {
  background: #068cff;
  filter: opacity(0.5);
}
.ds-btn-ripple-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  pointer-events: none;
  animation: btn-ripple 0.5s ease-in;
}
@keyframes btn-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
