@import '../styles/util.scss';

@mixin tui-tag-style($type, $bg-color, $text-color) {
  :host([type='#{$type}']) {
    background-color: $bg-color;
    color: $text-color;
  }
}

// 标签样式：成功、错误、警告、信息
@include tui-tag-style(success, $color-green-2, $color-green-4);
@include tui-tag-style(error, $color-red-2, $color-red-4);
@include tui-tag-style(warning, $color-orange-2, $color-orange-4);
@include tui-tag-style(info, $color-blue-2, $color-blue-4);

:host * {
  box-sizing: border-box;
}

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius-xsm;
  white-space: nowrap;
}
:host([size='sm']) {
  height: calc($line-sm + 2px);
  padding: 0 $padding-xsm;
  font-size: $font-sm;
}
:host([size='md']) {
  height: $line-base;
  padding: 0 $padding-sm;
  font-size: $font-md;
}
:host([size='lg']) {
  height: $line-lg;
  padding: 0 $padding-md;
  font-size: $font-base;
}
