@import '../styles/util.scss';

:host * {
  box-sizing: border-box;
}

.form-item {
  display: flex;
  margin-bottom: calc($line-md - 2px);

  &-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    flex: 0 1 auto;
    padding-right: $padding-lg;
    line-height: $line-xlg;
    font-size: $font-md;

    &-required {
      color: $color-red-4;
    }
  }
}
