@import '../styles/util.scss';

$input-sm: 14px;
$input-md: 16px;
$input-lg: 18px;

$input-after-sm: 8px;
$input-after-md: 10px;
$input-after-lg: 12px;

.radio-item {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: $font-md;
  color: $text-default;
  height: $line-xlg;

  input[type='radio'] {
    width: $input-md;
    height: $input-md;
    border: 1px solid $border-default;
    border-radius: 50%;
    margin: 0;
    margin-right: $margin-sm;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type='radio']::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: $input-after-md;
    height: $input-after-md;
    background-color: $brand-primary;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
  }

  input[type='radio']:checked::after {
    transform: translate(-50%, -50%) scale(1);
  }

  input[type='radio']:hover {
    border-color: $border-primary;
  }

  input[type='radio']:focus-visible {
    border-color: $border-primary;
  }

  &:hover input[type='radio'] {
    border-color: $border-primary;
  }

  &:focus-within input[type='radio'] {
    border-color: $border-primary;
  }

  &-sm {
    height: calc($line-base + 2px);
    font-size: $font-sm;

    input[type='radio'] {
      width: $input-sm;
      height: $input-sm;
    }

    input[type='radio']::after {
      width: $input-after-sm;
      height: $input-after-sm;
    }
  }

  &-lg {
    height: calc($line-xlg + 8px);
    font-size: $font-base;

    input[type='radio'] {
      width: $input-lg;
      height: $input-lg;
    }

    input[type='radio']::after {
      width: $input-after-lg;
      height: $input-after-lg;
    }
  }

  &-button {
    position: relative;
    padding: 0 $padding-md;
    margin: 0 0 0 var(--radio-item-margin-left, -1px); // 负 margin 让相邻边框重叠
    border: 1px solid $border-default;
    border-radius: var(--radio-item-radius-tl, 0) var(--radio-item-radius-tr, 0)
      var(--radio-item-radius-br, 0) var(--radio-item-radius-bl, 0);
    transition: all 0.2s ease-in-out;
    z-index: 0;

    input[type='radio'] {
      display: none;
    }

    &:hover {
      background-color: $bg-hover;
      z-index: 1; // hover 时提升层级
    }

    &.radio-item-checked {
      background-color: $brand-primary;
      color: $text-reverse;
      border-color: $brand-primary;
      z-index: 2; // 选中时层级最高，边框显示在上面
    }
  }

  &-button#{&}-sm {
    padding: 0 $padding-sm;
    font-size: $font-sm;
  }

  &-button#{&}-lg {
    padding: 0 $padding-lg;
    font-size: $font-base;
  }

  // Slider 类型
  &-slider {
    position: relative;
    padding: 0 $padding-md;
    margin: 0;
    border-radius: $radius-sm;
    transition: color 0.2s ease-in-out;

    input[type='radio'] {
      display: none;
    }
  }

  &-slider#{&}-sm {
    padding: 0 $padding-sm;
    font-size: $font-sm;
  }

  &-slider#{&}-lg {
    padding: 0 $padding-lg;
    font-size: $font-base;
  }
}

:host {
  display: inline-flex;

  * {
    box-sizing: border-box;
  }
}
