@import '../styles/util.scss';

.input-group {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: $radius-md;
  border: 1px solid $border-default;
  background-color: $bg-body;
  gap: $margin-sm;

  input {
    flex-grow: 1;
    border: none;
    border-radius: $radius-md;
    outline: none;
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
    min-height: calc($input-md - 2px);
    line-height: $line-md;
    font-size: $font-md;
    color: #060a26;
    width: 0;
    padding: 0 $margin-sm;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &:hover {
    border: 1px solid $border-primary !important;
  }

  &:has(input:focus-visible) {
    border: 1px solid $border-primary !important;
  }

  .eye {
    flex-shrink: 0;
    margin-right: $margin-sm;
    fill: $brand-default;
    width: $icon-md;
    height: $icon-md;
    cursor: pointer;
    user-select: none; // 阻止文本选择，避免双击时选中页面其他文字
    -webkit-user-select: none; // Safari, Chrome
    -moz-user-select: none; // Firefox
    -ms-user-select: none; // IE/Edge

    &:hover {
      fill: $color-grey-8;
    }
  }
}

// 因为shadow dom隔绝了外部CSS，无法使用全局的样式变量，所以reset.scss中的代码都不奏效，reset相关可能必须要写在基类或者装饰器中
// 或者就像当前这样，直接写在每个组件的scss中，缺点是无法复用，优点还是隔离，隔离带来的好处就是代码量其实变小了。
// 不对 可能根本就不需要reset.scss
:host * {
  box-sizing: border-box;
}

:host([size='sm']) {
  .input-group {
    input {
      padding: 0 $margin-xsm;
      min-height: calc($input-sm - 2px);
      line-height: $line-sm;
      font-size: $font-sm;
    }

    .eye {
      margin-right: $margin-xsm;
      width: $icon-md;
      height: $icon-md;
    }
  }
}

:host([size='lg']) {
  .input-group {
    input {
      padding: 0 $margin-md;
      min-height: calc($input-lg - 2px);
      line-height: $line-base;
      font-size: $font-base;
    }

    .eye {
      margin-right: $margin-md;
      width: $icon-lg;
      height: $icon-lg;
    }
  }
}
