@import '../styles/util.scss';

// 表格容器
.table-container {
  width: 100%;
  border: 1px solid $color-grey-5;
  border-radius: $radius-md;
  background-color: $color-grey-1;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

// 表头容器
.head-container {
  display: flex;
  background-color: $color-grey-2;
  border-bottom: 1px solid $color-grey-5;
  
  // 表头单元格
  .head {
    flex: 1;
    padding: $padding-md $padding-lg;
    font-weight: 600;
    font-size: $font-md;
    color: $color-grey-9;
    text-align: left;
    border-right: 1px solid $color-grey-5;
    min-height: $line-lg;
    display: flex;
    align-items: center;
    
    &:last-child {
      border-right: none;
    }
    
    // 表头悬停效果
    &:hover {
      background-color: $color-grey-3;
    }
  }
}

// 行容器
.row-container {
  .row {
    display: flex;
    border-bottom: 1px solid $color-grey-4;
    transition: background-color 0.2s ease;
    
    &:last-child {
      border-bottom: none;
    }
    
    // 行悬停效果
    &:hover {
      background-color: $color-grey-2;
    }
    
    // 斑马纹效果
    &:nth-child(even) {
      background-color: $color-grey-1;
      
      &:hover {
        background-color: $color-grey-2;
      }
    }
    
    // 单元格
    .cell {
      flex: 1;
      padding: $padding-md $padding-lg;
      font-size: $font-md;
      color: $color-grey-9;
      border-right: 1px solid $color-grey-4;
      min-height: $line-md;
      display: flex;
      align-items: center;
      word-break: break-word;
      
      &:last-child {
        border-right: none;
      }
    }
  }
}

// 紧凑模式
.table-container.compact {
  .head-container .head {
    padding: $padding-sm $padding-md;
    min-height: $line-md;
    font-size: $font-sm;
  }
  
  .row-container .row .cell {
    padding: $padding-sm $padding-md;
    min-height: $line-sm;
    font-size: $font-sm;
  }
}

// 边框模式
.table-container.bordered {
  border: 1px solid $color-grey-5;
  
  .head-container {
    border-bottom: 1px solid $color-grey-5;
    
    .head {
      border-right: 1px solid $color-grey-5;
    }
  }
  
  .row-container .row {
    border-bottom: 1px solid $color-grey-4;
    
    .cell {
      border-right: 1px solid $color-grey-4;
    }
  }
}

// 无边框模式
.table-container.borderless {
  border: none;
  box-shadow: none;
  
  .head-container {
    border-bottom: 1px solid $color-grey-4;
    
    .head {
      border-right: none;
    }
  }
  
  .row-container .row {
    border-bottom: 1px solid $color-grey-3;
    
    .cell {
      border-right: none;
    }
  }
}

// 条纹模式
.table-container.striped {
  .row-container .row {
    &:nth-child(odd) {
      background-color: $color-grey-1;
    }
    
    &:nth-child(even) {
      background-color: $color-grey-2;
    }
    
    &:hover {
      background-color: $color-grey-3;
    }
  }
}

// 加载状态
.table-container.loading {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
}

// 空状态
.table-container.empty {
  .row-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    color: $color-grey-7;
    font-style: italic;
  }
}
